@model List<EntityLayer.Entities.Category>
@{
    ViewBag.Title = "Index";
}
<a class="btn btn-primary" href="/AdminCategory/Create">Kategori Ekle</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@Html.ActionLink("Sil","Delete",new {id=item.Id}, new {@class="btn btn-danger", onclick="return confirm ('Silmek istiyor musunuz?')"})</td>
            
                    <td><a class="btn btn-primary" href="/AdminCategory/Update/@item.Id">Güncelle</a></td>
                </tr>
            }
</table>

<script src="~/Scripts/jquery-1.8.3.min.js"></script>

